
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="9755d201-34dc-4bec-a292-41085ae3418a"
  data-page-id="{{ .File.UniqueID }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title  }}"
  data-theme="auto"> 
</div>

<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

<script>
  window.addEventListener('load', () => {
    const themeToggle = document.getElementById("theme-toggle");
    if (themeToggle) {
      themeToggle.addEventListener("click", () => {
        // PaperMod adds the .dark class to the <body> when in dark mode
        const isDark = document.body.classList.contains("dark");
        const newTheme = isDark ? 'light' : 'dark'; // Toggle to the opposite
        
        if (window.CUSDIS) {
          window.CUSDIS.setTheme(newTheme);
        }
      });
    }
  });
</script>


